folium==0.13.0
geemap
geopandas
jupyter-server-proxy
keplergl
leafmap
localtileserver
nbserverproxy
owslib
palettable
plotly
streamlit
streamlit-bokeh-events
streamlit-folium
streamlit-keplergl
tropycal
pandas
numpy
openpyxl
streamlit_folium
pycountry-convert
libgdal-dev
gdal-bin
branca